<h1><%= "#{@user.name}'s Dashboard" %></h1><br>

<section class="viewing_parties">
  <div class="invited_parties">
    <h2>Invites</h2>
    <% @user.party_invites.each do |party| %>
      <div class="party_<%= party.id %>">
        <%= image_tag("#{@facade.image_begin_url}#{party.movie.poster_path}") %>
        <%= link_to party.movie.title, user_movie_path(@user.id, party.movie.id) %>
        <p>Party Time: <%= party.date %> at <%= party.start_time %></p>
        <p>Host: <%= party.find_host.name %></p>

        <div class="invited_users">
          <ol>
            <% party.users.each do |user| %>
              <% if @user == user %>
                  <li><strong><%= user.name %></strong></li>
              <% else %>
                  <li><%= user.name %></li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>
    <% end %>
  </div>

  <div class="host_parties">
    <h2>Host Parties</h2>
    <% @user.host_parties.each do |party| %>
      <div class="party_<%= party.id %>">
        <%= image_tag("#{@facade.image_begin_url}#{party.movie.poster_path}") %>
        <%= link_to party.movie.title, user_movie_path(@user.id, party.movie.id) %>
        <p>Party Time: <%= party.date %> at <%= party.start_time %></p>
        <p>Host: <%= party.find_host.name %></p>

        <div class="invited_users">
          <ol>
            <% party.users.each do |user| %>
                <li><%= user.name %></li>
            <% end %>
          </ol>
        </div>
      </div>
    <% end %>
  </div>
</section>
